html {
  font-size: 16px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

nav {
  text-align: center;
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
}

main {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

img {
  transition: all 0.2s ease-in-out;
}

#open,
#closeHamburger {
  font-size: 2rem;
  position: absolute;
  top: 30px;
  right: 20px;
  display: none;
  cursor: pointer;
  padding: 4px;
}

#closeHamburger {
  display: none;
}

form {
  border-radius: 5px;
  z-index: 99;
  position: fixed;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 320px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 2px solid gray;
}

#closeForm {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  padding: 4px;
}

#open:hover,
#closeHamburger:hover,
#closeForm:hover {
  opacity: 0.8;
}

label {
  margin: 2px 0;
}

input,
select,
.terms-box {
  margin-bottom: 5px;
}

.button {
  background-color: #555;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
}

.section {
  padding: 40px;
  background-color: #f1f1f1;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.section1 {
  display: flex;
  align-items: center;
  gap: 30px;
}

.section1 img {
  width: 50%;
  height: auto;
  border-radius: 10px;
}

.section2 img {
  width: 100%;
}

.catGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.catGrid img {
  width: 100%;
  height: auto;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.navlink:hover {
  text-decoration: underline;
}

.button:hover {
  opacity: 0.8;
}

img:hover {
  transform: scale(1.025);
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }

  .section1 {
    flex-direction: column;
  }

  .section1 img {
    width: 100%;
  }

  .catGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catGrid img {
    width: 50%;
    height: auto;
    object-fit: cover;
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    padding: 0;
  }

  .navlink {
    font-size: 1.2rem;
    margin: 10px 0;
    display: none;
    width: 100%;
    text-align: left;
  }

  #open {
    display: block;
  }
  .section {
    padding: 30px;
  }
}

@media (max-width: 425px) {
  html {
    font-size: 13px;
  }
  .section {
    padding: 20px;
  }
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}
